doctype
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= 'Game of cells'
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
    #wrapper
      #banners
        svg#player1.banner
        svg#player2.banner
      #field
        svg#svg